<section class="module">
        <header class="top-bar">
            <h1>Messenger</h1>
        </header>
        <ol class="conversation">
            <li *ngFor="let message of botMessages" [ngClass]="message.userInitiated ? 'self' : 'other'">
                <div class="message" >
                <p>{{ message.utterance}}
                </p>
                <time dateTime="{{message.date}}">Messenger Bot • {{dateToTimestampString(message.date)}}</time>
                </div>
            </li>
        </ol>
        <div class= "input-bar"> 
            <form>
                <label>Phone Number (add 1 in the front for country code)</label>
                <input type="text" class="phoneNumber" [(ngModel)]="currentMessage.phoneNumber" name= "phoneNumber"/>
                <label>Text me in X Minutes</label>
                <input type="text" [(ngModel)]="currentMessage.timeToDelay" placeholder="Minutes" class="time" name ="time"/>
                <label>Message</label>
                <textarea class= "messageInput" [(ngModel)]="currentMessage.utterance" name= "message"></textarea>
                <div class="flex-right">
                <button (click)= "sendMessage()" class="sendButton">Send</button>
                </div>
            </form>
        </div>
    </section>