<section class="module">
        <header class="top-bar">
<!--             <h1>Messenger</h1>
 -->     
            <div class="row-1-time">{{this.currentTime}}</div> 
            <div class="row-1-reception"> 
                <div class="row-1-reception-1"></div>  
                <div class="row-1-reception-2"></div>  
                <div class="row-1-reception-3"></div>  
                <div class="row-1-reception-4"></div>  
                <div class="battery">
                    <div class="battery-body"></div>
                    <div class="battery-head"></div>
    
                </div>
            </div> 
            
        </header>
        <h1 class="title"> Messenger</h1>
        <ol class="conversation">
            <li *ngFor="let message of botMessages" [ngClass]="message.userInitiated ? 'self' : 'other'">
                <div class="message" >
                <p>{{ message.utterance}}
                </p>
                <time dateTime="{{message.date}}">Messenger Bot • {{dateToTimestampString(message.date)}}</time>
                </div>
            </li>
        </ol>
        <div class= "input-bar"> 
            <form class='input-form'>
                <label>Phone Number (add 1 in the front for country code)</label>
                <input type="text" class="phoneNumber" [(ngModel)]="currentMessage.phoneNumber" name= "phoneNumber"/>
                <label>Text me in X Minutes</label>
                <input type="text" [(ngModel)]="currentMessage.timeToDelay" placeholder="Minutes" class="time" name ="time"/>
                <label>Message</label>
                <textarea class= "messageInput" [(ngModel)]="currentMessage.utterance" name= "message"></textarea>
                <div class="flex-right">
                <button (click)= "sendMessage()" class="sendButton">Send</button>
                </div>
            </form>
        </div>
    </section>