.module {
    width: 450px;
    height: 750px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    border: 10px black ridge;
    display:flex;
    flex-direction:column;
    background-color:black;
    box-sizing:border-box;
    overflow:scroll;
  }

@media screen and (max-width: 600px) {
  .module{
  width: 300px;
  }
}

.top-bar {
    display: grid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 4px;
    padding-bottom: 14px;
/*     background: #2A9D8F;
 */    
    background: #1C1C1C;
    color: white;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    grid-template-columns: 4, 1fr;
    grid-template-areas:
    "date .. .. reception"
}
.row-1-time {
  grid-area: date;
  margin-left:8px;
}

.row-1-reception {
  margin-right: 8px;
  grid-area: reception;
  margin-left: 60px;
  padding-left: 20px;
  padding-top:5px;
  position:relative;
  display:flex;
  justify-content: flex-end;
}

.row-1-reception-1,
.row-1-reception-2,
.row-1-reception-3,
.row-1-reception-4 {
  background-color: white;
  height: 3px;
  width: 2px;
}

.row-1-reception-2,
.row-1-reception-3,
.row-1-reception-4 {
  margin-left: 2px;
}

.row-1-reception-1{
  margin-top: 6px;
}


.row-1-reception-2{
  height: 5px;
  left: 21px;
  margin-top:3.5px;
}
.row-1-reception-3{
  height: 7px;
  left: 24px;
  margin-top:1.5px;

  
}

.row-1-reception-4{
  height: 9px;
  left: 27px;

}
.battery{
  margin-left:8px;
  top:0px;
  display:flex;
  justify-content: center;
}


.battery-body {
  width:13px;
  height:7px;
  background-color: white;
  border: 1px groove lightgray;
}
.title{
color:white;
margin-top:0px;
margin-bottom: 0px;
padding-bottom: 16px;
text-align: center;
background: #1C1C1C;
}

.battery-head {
  width: 1px;
  height: 5px;
  background-color: lightgray;
  margin-top: 2px;
}
.conversation {
    list-style: none;
/*     background: #E9C46A;
 */  
    background:black;  
    margin: 0;
    padding: 0;
    overflow:scroll;
    min-height:260px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
  }

  
  .conversation li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .self {
    justify-content: flex-end;
    align-items: flex-end;
    text-align:end;
  }

  .self .message {
      order: 1;
      border-bottom-right-radius: 0; 
      background: #5EB0E5;
  }

  .other .message {
    border-top-left-radius: 0;
  }

  .message {
    color:white;
    background: #25282A;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px 2px rgba(0,0,0,0.12)
    }
   .message p {
      font-size: 1rem;
      margin: 0 0 0.2rem 0;
    }
   .message time {
      font-size: 0.7rem;
      color: #ccc;
    }

input[type=text] {
    width: 100%;
    padding: 12px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.12)
      }

.input-bar {
/*     background: #E9C46A;
 */    
    background:black;
    padding: 8px 8px;
    font-size: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;   
    height:100%;
    position:relative;
    color:#D4D4D2;
    

  }
  @media screen and (max-width: 600px) {
    .input-bar{
    padding: 16px 8px;
    }
  }

  .messageInput {
    border-radius:5px;
    min-height: 150px;
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0;
    word-break: break-word;
    padding: 12px 20px;
    border: 2.5px solid #25282A;
    background: black;
    color:white;
    resize: none;
    overflow-y: scroll;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.12)
}

textarea:focus {
  border-radius:5px;
}

input[type=text] {
  border-radius: 5px;
  border: 2.5px solid #25282A;
  background: black;
  color:white;
}

.sendButton {
  border-radius: 5px;
  border:none;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.12);
  background:#5EB0E5;
  color:white;
}

.flex-right {
  display:flex;
  justify-content: flex-end;
  min-height: 30px;
  margin-top:8px;
}

.input-form {
  display:flex;
  flex-direction: column;
  align-self: flex-end;
}