footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color:black;
    color: white;
    height:60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
